<h1>New User Account</h1>

<%= form_with :model => @user do |form| %>
  <p>
    <%= form.label "username" %>
    <%= form.text_field "username" %>
  </p>
  <p>
    <%= form.label "real_name" %>
    <%= form.text_field "real_name" %>
  </p>
  <p>
    <%= form.label "password" %>
    <%= form.password_field "password" %>
  </p>
  <p>
    <%= form.submit "Sign up" %>
  </p>
<% end %>